body {
    background-color: #04083f;
    font-family: 'gothic a1', sans-serif;
    color:  #dabfa3;

}

#sp{
    width: 1200px;
    margin: 0 auto;
}

#sp > h2{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #a3b8bb;
}

#sp > p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #a3b8bb;

}

#sp > img {
    margin-bottom: 30px;
}

#un{
    width: 1200px;
    margin: 0 auto;
}

#un > h2{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #c9c9c7;
}

#un > p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #c9c9c7;

}

#un > img {
    margin-bottom: 30px;
}