@font-face {
    font-family: 'Paperlogy-6SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}


body {
    font-family:'Paperlogy-6SemiBold','gothic a1', sans-serif;
    color:  #04083f;
    background-color: #f8f0e5;
    

}

li {
    list-style: none;
}

/* 진에어 */

#jinalr{
    width:1200px;
    height: 520px;
    margin: 0 auto;
    margin-bottom: 50px;

}

#jinalr > h2{
    font-size: 23px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight:600;
    
}

#wrap{
    width: 1200px;
    height: 420px;
    position: relative;
    overflow: hidden;
}

#slide{
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#slide > div{
    width: 1200px;
    height: 420px;
    float: left;
}

/* 위플머니 */

#weple{
    width: 1200px;
    height: 783px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#weple > h2{
    font-size: 23px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight:600;
}

#wrap2{
    width: 1200px;
    height: 683px;
    position: relative;
    overflow: hidden;
}

#slide2{
    width: 200%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}

#slide2 > div{
    width: 1200px;
    height: 683px;
    float: left;
}

#slide2 > div >img {
    width: 1200px;
    height: 680px;
}

/* 입생로랑 */

#ysl{
    width: 1200px;
    height: 585px;
    margin: 0 auto;
}

#ysl > h2{
    font-size: 23px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight:600;
}

#wrap3{
    width: 1200px;
    height: 485px;
    position: relative;
    overflow: hidden;
}

#slide3{
    width: 200%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}

#slide3 > div{
    width: 1200px;
    height: 485px;
    float: left;
}

#slide3 > div > img{
    width: 1200px;
    height: 420px;
}

