body {
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

#header{
    width: 100%;
}

#header_wrap{
    width: 1200px;
    display: flex;
    min-width: 100%;
    justify-content: center;
    
    
}
#header_wrap > div {
    margin: 10px 30px;
    
}

#logo { 
    margin-top: 10px;
    margin-right: 20px;;
}

#logo > img {
    width: 120px;
    height: 40px;
}

#nav>ul{
    display: flex;
   

}

#nav > ul > li {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 40px;
}


#login { margin-top:10px;}
#login > ul{ display: flex;}

#login > ul > li{
    font-size: 12px;

}

#login > ul > li > a{
    color: #959698;

}

#login > ul > li:first-child > a::after {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 0 8px;
    content: '';
    vertical-align: middle;
    background: #ccc;
}



#mainbanner{
    width: 100%;
    overflow: hidden;
    position: relative;
}

#mainimg > a > img{
    width: 100%;
    height: 69vh;
}




#itinerary {
    width: 100%;
    position: absolute;
    bottom:0;
    z-index: 999;
}
#menu1{
    width: 275px;
    height: 50px;
    background-color:rgba(110,110,111,0.7);
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-left: 250px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

#menu1 > select {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 14px;

}

#menu1 > select > option {
    color: #6e6e6f;
}

#menu1 > select:nth-of-type(2) {
    padding: 0px 10px;
}

#menu1 > div {
   display: flex;
   align-items: center;
}
#menu1 > div > img {
    width: 20px;
    height: 20px;
}
#menu1 > div > a  {
    color: #fff;
    font-size: 12px;
    line-height: 40px;
}

#menu2{
    height: 60px;
    background-color:rgba(110,110,111,0.7);
    display: flex;
    align-items: center;
    padding-left: 235px;


}

#menu2 > select {
     background-color: #fff;
     width: 150px;
     height: 40px;
     border: none;
     margin: 5px 20px;
     padding: 0 5px;
     font-weight: bold;
     color: #000;
}

#menu2 > a {
    background-color: #bdd600;
    width: 150px;
    height: 40px;
    color: #232d5b;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
}

#menuicon {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
}

#menuicon > div {
    margin:0 20px;
    font-weight: 600;
    
}

#reservation > a {
    display: block;
    width: 70px;
    height: 50px;
    line-height: 50px;
    background:url(../images/icon1.png) no-repeat;
    padding: 8px 0 9px 90px;

}

#boardingcard > a {
    display: block;
    width: 70px;
    height: 50px;
    line-height: 50px;
    background:url(../images/icon2.png) no-repeat;
    padding: 8px 0 9px 90px;
}

#flightinformation > a{
    display: block;
    width: 70px;
    height: 50px;
    line-height: 50px;
    background:url(../images/icon3.png) no-repeat;
    padding: 8px 0 9px 90px;
}


#ticketwrap{
    width: 100%;
    margin-top: 50px;
}

#planeticket {
    width: 1200px;
    margin: auto;
    text-align: center;
    position: relative;
}

#planeticket > h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 10px 0;
    padding-left: 40px;
    
}

#ticketlist {
    display:flex;
    justify-content: center;
    text-align: left;

}


#ticketlist > div {
    margin:20px 20px;
}


#ticketlist > div > h4 {
    font-size: 18px;
    margin-top: 15px;
    
}

#ticketlist > div > p:nth-of-type(1) {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom:10px;
}

#ticketlist> div > p:nth-of-type(2) {
   color: #7a0146;
   font-weight: 600;
}

#prev,
#next {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    width: 50px;
    height: 50px;

    position: absolute;
    top: 40%;

}



#prev {
    left:0;
    background: url(../../jinalr/images/prevbtn.png) no-repeat left center;
}

#next {
    right:0;
    background: url(../../jinalr/images/nextbtn.png) no-repeat right center;
}

button>span {
    display: none;
}



#iconwrap {
    width: 100%;
    margin: 50px 0px;

}
#iconlist {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    
}


#iconlist > li  {
    margin:0 50px;
  
}

#iconlist > li > p{
    margin-top: 10px;
    font-weight: 600;
    color: #7a0146;
    text-align: center;
    

}

#n100{
    width: 100%;
    margin: 60px 0px;
}


#notice{
    width:1200px;
    margin:auto ;
    
}

#notice > h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 20px;
    
}


#notice > ul > li {
    font-size: 14px;
    font-weight: 600;
    text-align:left;
    border-bottom: 1px solid #959698;
    padding-bottom: 15px; 
    margin: 20px 0;
    

}

#notice > ul > li > a {
    display: block;
    background: url(../images/notice_style.png)no-repeat left center;
    padding-left: 25px;
}



#notice > ul > li > a:hover{
    color: #7a0146;
} 

#notice > ul > li > span {
    float: right;
    color: #959698;
    font-size: 13px;
}

#footer {
    background-color: #cecece;
    padding: 30px 30px;
}

#footermenu1 { 
    width: 1200px;
    margin: auto;
    display: flex;
    line-height: 1.8;

}

#footermenu1 > h5 {
    font-weight: bold;
    margin-right:47px ;
}

#footermenu1 > ul {
    display: flex;

}
#footermenu1 > ul > li {
    margin: 0 10px;
    font-size: 12px;

}

#footermenu1 > ul > li > a {color: #4d4c4c;}

#footermenu2 { 
    width: 1200px;
    margin: auto;
    display: flex;
    line-height: 1.8;

}
#footermenu2 > h5 {
    font-weight: bold;
    margin-right:20px ;
}

#footermenu2 > ul {
   display: flex;
}
#footermenu2 > ul > li {
    margin: 0 10px;
    font-size: 12px;

}

#footermenu2 > ul > li > a {color: #4d4c4c;}

#footermenu3 { 
    width: 1200px;
    margin: auto;
    display: flex;
    line-height: 1.8;
    

}
#footermenu3 > h5 {
    font-weight: bold;
    margin-right:31px ;
}

#footermenu3 > ul {
    display: flex;
}
#footermenu3 > ul > li {
     margin: 0 10px;
    font-size: 12px;

}

#footermenu3 > ul > li > a {color: #4d4c4c;}


#wrap {
    width: 1200px;
    margin: auto;
    display: flex;
    
    

}

#snslogo {
    display: flex;
    justify-content:left;
    margin-top: 10px;
    
}


#snslogo > a {
    margin: 0 5px;
}

#shortcut {
    display: flex;
    align-items: center;
}

#shortcut > h5 {
    color: #4d4c4c;
    margin: 0 10px;
}

#shortcut > a  {
    margin: 15px 5px;
    color: #4d4c4c;
}

#shortcut > a:nth-of-type(1){
    display: block;
    background: url(../images/footer_ios.png)no-repeat;
    padding: 8px 0 9px 40px;
}

#shortcut > a:nth-of-type(2){
    display: block;
    background: url(../images/footer_google.png)no-repeat;
    padding: 8px 0 9px 30px;
}

#shortcut > a:nth-of-type(3){
    display: block;
    background: url(../images/footer_shortcut.png)no-repeat;
    padding: 8px 0 9px 40px;
}

#wrap2{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#footer_ntc {
    font-size: 12px;
    line-height: 1.5;
    color: #4d4c4c;
    
}


#emailinput > h3 { 
    color: #4d4c4c;
    margin-bottom: 15px;

}

#emailinput > input[type=text]{
    width: 200px;
    height: 35px;
    border: none;
    
}

#emailinput > input[type=text]:focus {
    outline: none;
}

#emailinput > input[type=submit]{
    width: 60px;
    height: 40px;
    border: none;
    background-image: url(../images/footer_logo.png);
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin-left:-10px;
    
    
    

}










