body {
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

#header{
    width: 100%;
    
}

#header_wrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
}

#logo {margin-top: 10px;}

#logo > a > img {
    width: 120px;
    height: 40px;
}

#nav > ul { display: flex;}

#nav > ul > li {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 40px;
    
}


#login { margin-top:10px;}
#login > ul{ display: flex;}

#login > ul > li{
    font-size: 12px;

}

#login > ul > li > a{
    color: #959698;

}

#login > ul > li:first-child > a::after {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 0 8px;
    content: '';
    vertical-align: middle;
    background: #ccc;
}


#eventlist {
    width: 100%;
    margin: 60px 0;
    text-align: center;

}

#eventlist > h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
}

#menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#menu > li {
    width: 380px;
    height: 40px;
}

#menu > li > a {
    display: block;
    font-size: 16px;
    width: 380px;
    height: 40px;
    line-height: 40px;
    background-color: #7a0146;
    color: #fff;
    margin-left: -5px;
}


#menu > li > a:hover {
    display: block;
    width: 380px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #7a0146;
    color: #000;

}


#list {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
#list > li {
    text-align: left;
    margin:20px 10px ;
    
}
#list > li > a > img {
    width: 550px;
    height: 300px;
}

#list > li > p {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0; 
}

#list > li > span {
    font-size: 12px;
    color: #959698;

}

#eventlist > a {
    display: block;
    margin: 0 auto;
    width: 380px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    background-color: #7a0146;
}

#eventlist > a:hover {
    width: 380px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #7a0146;
    color: #000;
} 




#footer {
    background-color: #cacacb;
    padding: 20px 20px;
    position: relative;
}

#footermenu1 { 
    width: 1200px;
    margin: auto;
    display: flex;
    line-height: 1.8;

    
}

#footermenu1 > h5 {
    font-weight: bold;
    margin-right:20px ;
}

#footermenu1 > ul {
    display: flex;

}
#footermenu1 > ul > li {
    margin: 0 10px;
    font-size: 14px;

}

#footermenu1 > ul > li > a {color: #4d4c4c;}

#footermenu2 { 
    width: 1200px;
    margin: auto;
    display: flex;
    line-height: 1.8;

}
#footermenu2 > h5 {
    font-weight: bold;
    margin-right:20px ;
}

#footermenu2 > ul {
   display: flex;
}
#footermenu2 > ul > li {
    margin: 0 10px;
    font-size: 14px;

}

#footermenu2 > ul > li > a {color: #4d4c4c;}

#footermenu3 { 
    width: 1200px;
    margin: auto;
    display: flex;
    line-height: 1.8;
    

}
#footermenu3 > h5 {
    font-weight: bold;
    margin-right:20px ;
}

#footermenu3 > ul {
    display: flex;
}
#footermenu3 > ul > li {
     margin: 0 10px;
    font-size: 14px;

}

#footermenu3 > ul > li > a {color: #4d4c4c;}


#wrap {
    width: 1200px;
    margin: auto;
    display: flex;

}

#snslogo {
    display: flex;
    justify-content:left;
    align-items: center;
    margin-top: 10px;
    
}

#snslogo > a {
    margin: 0 5px;
}

#shortcut {
    display: flex;
    align-items: center;
}


#shortcut > h5 {
    color: #4d4c4c;
    margin: 0 10px;
}

#shortcut > a  {
    margin: 15px 5px;
    color: #4d4c4c;
}

#shortcut > a:nth-of-type(1){
    display: block;
    background: url(../images/footer_ios.png)no-repeat;
    padding: 8px 0 9px 40px;
}

#shortcut > a:nth-of-type(2){
    display: block;
    background: url(../images/footer_google.png)no-repeat;
    padding: 8px 0 9px 30px;
}

#shortcut > a:nth-of-type(3){
    display: block;
    background: url(../images/footer_shortcut.png)no-repeat;
    padding: 8px 0 9px 40px;
}



#footer_ntc {
    width: 1200px;
    margin: auto;
    font-size: 12px;
    line-height: 1.5;
    color: #4d4c4c;
}
#emailinput {
    position: absolute;
    top:120px;
    right: 350px;
}
#emailinput > h3 { 
    color: #4d4c4c;
    margin-bottom: 15px;

}

#emailinput > input[type=text]{
    width: 200px;
    height: 30px;
    border: none;
    
}

#emailinput > input[type=text]:focus {
    outline: none;
}

#emailinput > input[type=submit]{
    width: 60px;
    height: 35px;
    border: none;
    background-image: url(../images/footer_logo.png);
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin-left:-10px;
    
    
    

}

