body {
    background-color: #fff;
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: #ccc;
    overflow-x: hidden;
}



a {
    text-decoration: none;
    color:inherit
}

li {
    list-style: none;
}

#header{
    width: 100%;
}

#header_wrap{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-top: 10px;
}

#logo > img{
    width:200px;
    height: 40px;
}

#nav{
   margin-top: 25px;
}

#nav > ul {
    display: flex;

}

#nav > ul > li {
    font-size: 18px;
    font-weight: bold;
    color: #53c7bc;
    margin: 0 6px;
}

#mainimg1{
    width: 100%;
    background-color: #f2f2f3;
}

#title {
   padding-top: 80px;
   display:none;
}

#title > h3 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #53c7bc;
    margin-bottom: 10px;
}

#title > p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #53c7bc;
    line-height: 1.2;

}

#mainimg {
    text-align: center;
    margin-top: 30px;
    display: none;
}

#mainimg > img{ 
    width: 1000px;

}

#mainimg2{
    width:100%;
    background-color: #f2f2f3;
    position: relative;
}

#title2 {
    padding-top: 100px;
    position: relative;
    z-index: 2;
    left: 200px;
    margin-left: -200px;
}

#title2 > p {
    font-size: 30px;
    color: #7289f3;
    text-align: left;
    font-weight: bold;
    line-height: 1.5;

}

#title2 > p > span {
    font-size: 35px;
}

#pig {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 180px;
}

#pig > img {
    width: 1000px;
    height: 800px;
}

#main2 {
    position: relative;
    text-align: center;
    z-index: 2;
    left: 100px;
    margin-right: -500px;
    
}

#main2> img {
    width: 850px;

}

#guide {
    background-color: #f9a5bd;
    padding:0px 20px;
    text-align: center;
    
}

#list {
    display: flex;
    justify-content: center;
    align-items: center;

}

#list > li {
    margin: 30px 30px;
    color: #fff;
}


#list > li > h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
}

#list > li > p {
    font-size: 14px;
    line-height: 1.5;
}

#btn{
    width: 100%;
    background-color: #f2f2f3;
}

#btn {
   padding:50px 0;
   
}

#btn > a{
    display: block;
    width: 350px;
    height: 40px;
    background-color: #7289f3;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin: auto;
  
}

#btn > a:hover{
    background-color: rgba(114, 137, 243, 0.7);
}

#footer{
    background-color: #53c7bc;
    color: #fff;
    padding: 30px 20px;
}

#footer > h4 {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}

#footer > ul {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 15px;
}

#footer > ul > li {
    margin: 0 20px;
}

#shortcut{
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    margin-bottom: 15px;
    
}

#shortcut > a {
    margin: 0 10px;
}

#shortcut > a:nth-of-type(1) {
    display: block;
    background: url(../images/footerlogo_ios.png) no-repeat;
    padding: 12px 0 9px 40px;
}

#shortcut > a:nth-of-type(2){
    display: block;
    background: url(../images/footerlogo_google.png) no-repeat;
    padding: 12px 0 9px 40px;
}

#footer > p {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}