body {
    background-color: #fff;
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: #ccc;
}

a {
    text-decoration: none;
    color:inherit
}

li {
    list-style: none;
}

#header{
    width: 100%;
}

#header_wrap{
    width: 62.5%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}

#logo {
    margin-top: 10px;
}

#logo > a > img{
    width:200px;
    height: 40px;
}

#nav{
   margin-top: 20px;
}

#nav > ul {
    display: flex;
}


#nav > ul > li {
    font-weight: bold;
    color: #53c7bc;
    margin: 0 6px;
}

#w100{
    width: 100%;
}

#guidetitle{
   width: 62.5%;
   margin: auto;
   text-align: left;
}

#guidetitle > h3 {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: #f9a5bd;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin:30px 0;
}

#guidetitle > p {
    font-size: 14px;
    color: #f9a5bd;
    line-height: 1.5;
}

#tabbox{
    width:62.5%;
    margin: auto;
}

#tabbox > form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

#tabbox > form > input {
    display: none;
}

#tabbox > form > label {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #7289f3;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-weight: bold;
    margin: 20px 20px;
    cursor: pointer;


}


#tb_box {
    width: 1200px;
    height: 280px;
    border-radius: 10px;
    background-color: #f2f2f3;
    margin-bottom: 30px;
    padding: 30px 30px;
    display: none;
}

#tb_box > h5 {
    color: #828383;
    font-size: 15px;
    font-weight: bold;
    margin:20px 0px;

}

#tb_box > p {
    font-size: 15px;
    color: #828383;
    line-height: 1.5;
    margin-left: 15px;
}

#tb_box > div:nth-of-type(1){
    margin-top: 50px;
    display: flex;
    align-items: center;

}

#tb_box > div:nth-of-type(1) > h6 {
    font-size: 15px;
    color: #828383;
    margin-right: 10px;
}

#tb_box > div:nth-of-type(1) > input[type=password] {
    width: 300px;
    height: 40px;
    border: none;
    font-size: 18px;
}

#tb_box > div:nth-of-type(1) > input[type=password]:focus{
    outline: none;
}

#tb_box > div:nth-of-type(1) > input[type=submit] {
    width: 60px;
    height: 40px;
    background-color: #f9a5bd;
    color: #fff;
    border: none;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;

}


#tb_box > div:nth-of-type(2){
    margin-top: 10px;
    display: flex;
    align-items: center;

}

#tb_box > div:nth-of-type(2) > h6 {
    font-size: 15px;
    color: #828383;
    margin-right: 90px;
}

#tb_box > div:nth-of-type(2) > input[type=password] {
    width: 300px;
    height: 40px;
    border: none;
    font-size: 18px;
}

#tb_box > div:nth-of-type(2) > input[type=password]:focus{
    outline: none;
}

#tb_box > div:nth-of-type(2) > input[type=submit] {
    width: 60px;
    height: 40px;
    background-color: #f9a5bd;
    color: #fff;
    border: none;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;

}

#tb_box2{
    width: 1200px;
    height: 200px;
    border-radius: 10px;
    background-color: #f2f2f3;
    margin-bottom: 30px;
    padding: 30px 30px;
    display: none;
}

#tb_box2 > h5 {
    color: #828383;
    font-size: 16px;
    font-weight: bold;
    margin:20px 0px;

}

#tb_box2 > p {
    font-size: 15px;
    color: #828383;
    line-height: 1.5;
    margin-left: 15px;
}

#tb_box2 > button {
    width: 180px;
    height: 40px;
    background-color: #f9a5bd;
    border-radius: 10px;
    border: none;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
}

#password:checked ~ #tb_pw{
   background-color: #f9a5bd;
   color: #fff;
}


#password:checked ~ #tb_box{
    display: block;
}

#reset:checked ~ #tb_r{
    background-color: #f9a5bd;
    color: #fff;
}

#reset:checked ~ #tb_box2{
    display: block;
}

#month:checked ~ #tb_mon{
    background-color: #f9a5bd;
    color: #fff;
}

#week:checked ~ #tb_w{
    background-color: #f9a5bd;
    color: #fff;
}

#data:checked ~ #tb_d{
    background-color: #f9a5bd;
    color: #fff;
}

#language:checked ~ #tb_lg{
    background-color: #f9a5bd;
    color: #fff;
}


#footer{
    background-color: #53c7bc;
    color: #fff;
    padding: 30px 20px;
}

#footer > h4 {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin:20px 0px;
}

#footer > ul {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
}

#footer > ul > li {
    margin: 0 20px;
}

#shortcut{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size:14px;
    align-items: center;
    margin-bottom: 15px;
    
}

#shortcut > a {
    margin: 0 10px;
}

#shortcut > a:nth-of-type(1) {
    display: block;
    background: url(../images/footerlogo_ios.png) no-repeat;
    padding: 12px 0 9px 40px;
}

#shortcut > a:nth-of-type(2){
    display: block;
    background: url(../images/footerlogo_google.png) no-repeat;
    padding: 12px 0 9px 40px;
}

